.Dashboard__parent_container {
  width: 100%;
  min-width: 1200px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.Dashboard__child_container {
  width: 80%;
  min-width: 1000px;
}

.Dashboard__child_top {
  display: flex;
  justify-content: center;
}

.Dashboard__onboarding {
  width: 500px;
  height: 150px;
  display: flex;
  margin-left: 20px;
  box-sizing: border-box;
  padding: 15px;
}

.Dashboard__recommended_parent {
  width: 100%;
  height: auto;
  min-height: 200px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.Dashboard__recommended_child {
  width: 841px;
}

.Dashboard__recommended_header {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.Dashboard__recommended_header_span {
  font-size: 25px;
}

.Dashboard__recommended_select_span {
  position: absolute;
  right: 148px;
}

.Dashboard__recommended_select {
  position: absolute;
  right: 10px;
  font-size: 18px;
  width: 130px;
}

.Dashboard__recommended_users_parent {
  box-sizing: border-box;
  padding: 10px;
  height: 600px;
  width: 100%;
}

.Dashboard__recommended_users_child {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Dashboard__recommended_users_child_empty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}